# Environment variables
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.venv/
venv/
ENV/
env/

# Django
staticfiles/
media/
*.log
db.sqlite3
local_settings.py

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
