[Unit]
Description=Presensi Backend
After=network.target

[Service]
User=www-data
WorkingDirectory=/opt/presensi/backend
EnvironmentFile=/opt/presensi/backend/.env
ExecStart=/opt/presensi/venv/bin/gunicorn backend.wsgi:application --bind 0.0.0.0:8000
Restart=always

[Install]
WantedBy=multi-user.target
